@charset "UTF-8";
/*========= base ===========*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEE;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: arial, '游ゴシック体', 'YuGothic', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.inner {
  padding-left: 80px;
  margin: 0 auto;
  max-width: 880px;
}

/********** drawer **********/
.drawer {
  display: block;
  background-color: #333;
  height: 100vh;
  position: fixed;
  width: 80px;
}

.drawer-icon {
  cursor: pointer;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 80px;
  z-index: 41;
}

.drawer-icon:hover {
  height: 40px;
  opacity: 0.7;
}

.drawer-icon span {
  background-color: #EEE;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 2px;
}

.drawer-icon span:nth-of-type(1) {
  left: 34px;
}

.drawer-icon span:nth-of-type(2) {
  left: 40px;
}

.drawer-icon span:nth-of-type(3) {
  left: 46px;
}

.m_checked .drawer-icon span:nth-of-type(1) {
  left: 39.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m_checked .drawer-icon span:nth-of-type(2) {
  display: none;
}

.m_checked .drawer-icon span:nth-of-type(3) {
  left: 40.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-content {
  background: rgba(51, 51, 51, 0.9);
  height: 100vh;
  left: 80px;
  opacity: 0;
  overflow: auto;
  padding: 145px 16px 16px;
  position: fixed;
  text-align: left;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 40;
}

.m_checked .drawer-content {
  opacity: 1;
  visibility: visible;
}

.drawer-nav li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 6px solid transparent;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 20px 12px 24px 0;
  text-decoration: none;
}

/********** main-visual **********/
.main-visual {
  height: 100vh;
  position: relative;
  z-index: -1;
}

.main-visual h1 {
  color: #333;
  font-size: 95px;
  position: absolute;
  right: -150px;
  top: 152px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -1;
}

.main-visual .main-visual-fixed {
  color: #EEE;
  font-size: 95px;
  position: fixed;
  right: -150px;
  text-shadow: 0.6px 0 0 #BBB, 0 0.6px 0 #BBB, -0.6px 0 0 #BBB, 0 -0.6px 0 #BBB;
  top: 152px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -2;
}

.main-visual hr {
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -2;
}

.main-visual hr:nth-of-type(1) {
  color: #333;
  position: absolute;
  right: -534px;
  width: 1250px;
}

.main-visual hr:nth-of-type(2) {
  color: #333;
  position: absolute;
  right: -275px;
  width: 950px;
}

.main-visual hr:nth-of-type(3) {
  color: #333;
  position: absolute;
  right: 109px;
  width: 400px;
}

.main-visual h2 {
  color: #EEE;
  font-size: 108px;
  left: 80px;
  letter-spacing: 2px;
  position: absolute;
  text-shadow: 1px 0 0 #333, 0 1px 0 #333, -1px 0 0 #333, 0 -1px 0 #333;
  top: 270px;
  z-index: -1;
}

/********** about **********/
.about {
  padding-top: 300px;
}

.about .inner {
  position: relative;
}

.about .inner .about-image {
  border-radius: 50%;
  height: 280px;
  position: absolute;
  right: -50px;
  top: -80px;
  width: 280px;
}

.about .inner .about-image img {
  border-radius: 50%;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 280px;
}

.about .inner h2 {
  color: #333;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  margin-bottom: 60px;
  position: relative;
}

.about .inner h2 img {
  bottom: 8px;
  left: -30px;
  position: absolute;
  width: 420px;
}

.about .inner .about-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.about .inner .about-name h3 {
  font-size: 38px;
  font-weight: normal;
  margin-right: 20px;
}

.about .inner .about-name a {
  color: rgba(29, 161, 242, 0.6);
  font-size: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.about .inner .about-name a:hover {
  color: #1da1f2;
}

.about .inner .about-name a i {
  font-size: 20px;
  margin-right: 5px;
}

.about .inner p {
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 60px;
}

.about .inner h4 {
  font-family: 'Yu Mincho';
  font-size: 30px;
  text-align: center;
}

/********** works **********/
.works {
  padding-top: 300px;
}

.works .inner h2 {
  color: #333;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  margin-bottom: 60px;
  position: relative;
  text-align: right;
}

.works .inner h2 img {
  bottom: 8px;
  position: absolute;
  right: -24px;
  width: 320px;
}

.works .works-contents {
  height: 3000px;
  position: relative;
}

.works .works-contents .works-item {
  height: 300px;
  position: absolute;
  width: 500px;
}

.works .works-contents .works-item img {
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 500px;
}

.works .works-contents .works-item-text {
  background-color: #333;
  height: 60px;
  padding: 10px 0 0 10px;
  position: absolute;
  right: -30px;
  top: -30px;
  width: 300px;
}

.works .works-contents .works-item-text h3 {
  color: #FFF;
  font-size: 16px;
}

.works .works-contents .works-item-text p {
  color: #BBB;
  font-size: 12px;
}

.works .works-contents .works-layout1 {
  left: 0;
  top: 50px;
}

.works .works-contents .works-layout2 {
  right: 0;
  top: 500px;
}

.works .works-contents .works-layout3 {
  left: 0;
  top: 950px;
}

.works .works-contents .works-layout4 {
  right: 0;
  top: 1400px;
}

.works .works-contents .works-layout5 {
  left: 0;
  top: 1850px;
}

.works .works-contents .works-layout6 {
  right: 0;
  top: 2300px;
}

.works .works-contents .works-layout7 {
  left: 0;
  top: 2750px;
}

/********** skills **********/
.skills {
  padding-top: 300px;
}

.skills h2 {
  color: #333;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  margin-bottom: 60px;
  position: relative;
}

.skills h2 img {
  bottom: 8px;
  left: -26px;
  position: absolute;
  width: 300px;
}

.skills .skills-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  text-align: center;
}

.skills .skills-contents img {
  position: absolute;
}

.skills .skills-contents img:nth-child(1) {
  left: 65px;
  top: 155px;
  width: 680px;
}

.skills .skills-contents img:nth-child(2) {
  left: 65px;
  top: 375px;
  width: 680px;
}

.skills .skills-contents img:nth-child(3) {
  left: 16px;
  top: 270px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 680px;
}

.skills .skills-contents img:nth-child(4) {
  left: 280px;
  top: 270px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 680px;
}

.skills .skills-contents-item {
  margin-bottom: 110px;
  width: 33.33%;
}

.skills .skills-contents-item i {
  font-size: 80px;
  margin-bottom: 10px;
}

.skills .skills-contents-item p {
  font-size: 12px;
}

/********** contact **********/
.contact {
  padding-top: 300px;
}

.contact h2 {
  color: #333;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  margin-bottom: 60px;
  position: relative;
  text-align: right;
}

.contact h2 img {
  bottom: 8px;
  position: absolute;
  right: -34px;
  width: 390px;
}
/*# sourceMappingURL=style.css.map */