/*========= base ===========*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEE;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  max-width: 810px;
}

/********** drawer **********/
.drawer {
  display: block;
  background-color: #333;
  height: 100vh;
  position: fixed;
  width: 80px;
}

.drawer-icon {
  cursor: pointer;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 80px;
  z-index: 41;
}

.drawer-icon:hover {
  height: 40px;
  opacity: 0.7;
}

.drawer-icon span {
  background-color: #EEE;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 2px;
}

.drawer-icon span:nth-of-type(1) {
  left: 34px;
}

.drawer-icon span:nth-of-type(2) {
  left: 40px;
}

.drawer-icon span:nth-of-type(3) {
  left: 46px;
}

.m_checked .drawer-icon span:nth-of-type(1) {
  left: 39.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m_checked .drawer-icon span:nth-of-type(2) {
  display: none;
}

.m_checked .drawer-icon span:nth-of-type(3) {
  left: 40.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-content {
  background: rgba(51, 51, 51, 0.9);
  height: 100vh;
  left: 80px;
  opacity: 0;
  overflow: auto;
  padding: 145px 16px 16px;
  position: fixed;
  text-align: left;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 40;
}

.m_checked .drawer-content {
  opacity: 1;
  visibility: visible;
}

.drawer-nav li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 6px solid transparent;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 20px 12px 24px 0;
  text-decoration: none;
}

/********** main-visual **********/
.main-visual {
  height: 100vh;
  position: relative;
  z-index: -1;
}

.main-visual h1 {
  color: #333;
  font-size: 95px;
  position: absolute;
  right: -150px;
  top: 152px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -1;
}

.main-visual .main-visual-fixed {
  color: #EEE;
  font-size: 95px;
  position: fixed;
  right: -150px;
  text-shadow: 0.3px 0 0 #333, 0 0.3px 0 #333, -0.3px 0 0 #333, 0 -0.3px 0 #333;
  top: 152px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -2;
}

.main-visual hr {
  color: #333;
  height: 1px;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
  z-index: -2;
}

.main-visual hr:nth-of-type(1) {
  right: -534px;
  width: 1250px;
}

.main-visual hr:nth-of-type(2) {
  right: -275px;
  width: 950px;
}

.main-visual hr:nth-of-type(3) {
  right: 108px;
  width: 400px;
}

.main-visual h2 {
  color: #EEE;
  font-size: 108px;
  left: 80px;
  letter-spacing: 2px;
  position: absolute;
  text-shadow: 1px 0 0 #333, 0 1px 0 #333, -1px 0 0 #333, 0 -1px 0 #333;
  top: 270px;
  z-index: -1;
}

/********** about **********/
.about {
  padding: 60px 0 0 80px;
}
/*# sourceMappingURL=style.css.map */